{% extends "blogbase.html" %}

{% block content %}
    <h2><a href="https://www.udacity.com/course/cs253">Udacity - CS253 - Web Development:</a> My solutions</h2>
    <h3>Code available at <a href="https://github.com/cafesanu"> my github account </a></h3>

    <a href="/unit1/HelloUdacity">Unit 1 : Homework 1: Hello Udacity</a><br>
    <a href="/unit2/rot13">       Unit 2 : Homework 1: Rot13</a><br>
    <a href="/unit2/signup">      Unit 2 : Homework 2: Signup Verification</a><br>
    <a href="/unit2a/fizzbuzz?n=100">   Unit 2a: Quiz 2a: Fizzbuzz</a><br>
    <a href="/unit3/blog">   Unit 3: Blog</a><br>
    <a href="/unit3/blog/newpost">   Unit 3: Blog New Post</a><br>
    <a href="/unit4/signup">   Unit 4: Signup Verification with cookies</a><br>
    <a href="/unit4/login">   Unit 4: Login with cookies</a><br>
    <a href="/unit4/logout">   Unit 4: logout</a><br>
    <a href="/unit5/blog.json">Unit 5: Blog to JSON</a><br>
    <a href="/unit6/flush">Unit 6: Flush memcache</a><br>
    <a href="http://cafesanu-cs253-final-project.appspot.com/">Final Project: Build a wiki</a><br>

{% endblock %}