<!DOCTYPE html>
<html>
	<head>
		<link   type="text/css"        rel="stylesheet" href="/static/main.css" />
		<title>CAFESANU: Udacity CS-253 Final Project: Build a Wiki</title>
	</head>

	<body>

		<div class="login-area">
			{% if username_session %}
			    <a class="login-link" href="{{link_edit_view}}{{page}}">{{edit_view}}</a>
			    {% if edit_view == "edit" %}
			   		| <a class="login-link" href="_history{{page}}">history</a>
				{% endif %}
				{{username_session}}
				<a class="login-link" href="/logout">(logout)</a>
			{% else %}
				<a class="login-link" href="/login">login</a>
				|
				<a class="login-link" href="/signup">signup</a>
			{% endif %}

		</div>

	<h1>CAFESANU CS-253 Wiki </h1>
		<div id="navbar">
			<h4>Wikis Created:</h4>
			<ul>
				{% for w in all_wikis %}
					<li>
						<a class="login-link" href="{{w.page}}">{{w.page}}</a>
					</li>
				{% endfor %}
			</ul>
		</div>
		<div id="content">
			{% block content %}
			{% endblock %}
		</div>
	</body>

</html>